<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project-VueJs</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Asap:wght@300;500&family=Bad+Script&family=Candal&family=Libre+Franklin:wght@300;800&family=Lora&family=Montagu+Slab:wght@200;400&family=Montserrat+Subrayada&family=Montserrat:wght@200;500;700&family=Nunito+Sans:wght@300;500&family=Orbitron:wght@500&family=Patrick+Hand&family=Poppins:ital,wght@0,300;0,400;0,600;1,200;1,300&family=Quicksand:wght@300&family=Raleway:wght@300;400;500&family=Ysabeau:wght@200;300;500&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        margin: 5%;
        font-family: "Asap", sans-serif;
      }
      h1 {
        font-family: "Nunito sans", sans-serif;
      }
      .active {
        background: salmon;
        border: 0;
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <header>
        <h1 v-text="name"></h1>
        <p>
          <input type="text" v-model="name" />
        </p>

        <h3>daftar kelas({{kelas.length}})</h3>
        <ul v-if="kelas.length > 1">
          <li v-for="(item, index) of kelas">{{index+1}} - {{item}}</li>
        </ul>
        <li v-else>kelas belum tersedia</li>

        <h3>Perulangan</h3>
        <ul>
          <li v-for="x in 5">{{x}}</li>
        </ul>
        <h3>Mencari bilangan genap: {{numbers}}</h3>
        <ul>
          <li v-for="x in caribilangangenap(numbers)">{{x}}</li>
        </ul>

        <p>{{kelas}}</p>
        <div>
          <label><input type="checkbox" value="react" v-model="kelas" />Reactjs</label>
          <label><input type="checkbox" value="vue" v-model="kelas" />Vuejs</label>
          <label><input type="checkbox" value="angular" v-model="kelas" />Angular</label>
        </div>
        <p>
          <span style="display: block">{{bilangan}}</span>
          <button @click="handleclick">klik</button>
        </p>
        <p>Bilangan ini adalah bilangan {{infoBilangan}}</p>
        <p>{{message}}</p>

        <img :src="gambar" width="500" alt="" />

        <button v-bind:class="{active: menu === 'home' }" @click="menu = 'home'">Home</button>
        <button v-bind:class="{active: menu === 'about' }" @click="menu = 'about'">About</button>
        <button v-bind:class="{active: menu === 'blog'}" @click="menu = 'blog' ">Blog</button>
      </header>
      <footer>
        <p>&copy; rebly 2024</p>
      </footer>
    </div>

    <!-- link cdn vue js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="app.js"></script>
  </body>
</html>
<!-- https://www.youtube.com/watch?v=rL8GRQ3cWwk&list=PL9At9z2rvOC-Z6Gt8uO1XMp4oyMlE3gml&index=28 -->
